<form action="/api/locacao" method="POST" id="<%- acao %>_locacao">
    <div class="form_locacao">
        <input type="hidden" name="id" id="id" value="">

        <div class="form-group">
            <label for="alunoId" class="text-light">Aluno <span class="campo-required">*</span></label>
            <select name="alunoId" id="alunoId">
                <option value="">Selecione</option>
                <% for(var i = 0; i < alunos.length; i++){ %>
                    <option value="<%= alunos[i]._id; %>"><%= alunos[i].nome; %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="livroId" class="text-light">Livro <span class="campo-required">*</span></label>
            <select name="livroId" id="livroId">
                <option value="">Selecione</option>
                <% for(var i = 0; i < livros.length; i++){ %>
                    <option value="<%= livros[i]._id; %>"><%= livros[i].titulo; %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="dataretirada" class="text-light">Data Retirada <span class="campo-required">*</span></label>
            <input type="date" name="dataretirada" id="dataretirada" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark <%- acao %>">Salvar</button>
        </div>
    </div>
</form>