<% for(var i = 0; i < locacoes.length; i++){ %>
    <tr>
        <td><%= i+1 %></td>

        <td><%= alunos.find((aluno) => aluno._id.toString() == locacoes[i].alunoId.toString()).nome %></td>

        <td><%= livros.find((livro) => livro._id.toString() == locacoes[i].livroId.toString()).titulo %></td>

        <td><%= new Date(locacoes[i].dataretirada).toISOString().split('T')[0].split("-").reverse().join("/") %></td>

        <td>
            <a href="/update_locacao?id=<%= locacoes[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="#" class="btn border-shadow delete">
                <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
            </a>
        </td>
    </tr>
<% } %>