<% for(var i = 0; i < livros.length; i++){ %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= livros[i].titulo %></td>
        <td><%= livros[i].paginas %></td>
        <td><%= livros[i].genero %></td>

        <td><%= autores.find((autor) => autor._id.toString() == livros[i].autorId.toString()).nome %></td>

        <td>
            <a href="/update_livro?id=<%= livros[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id="<%= livros[i]._id %>" data-tela="livro">
                <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
            </a>
        </td>
    </tr>
<% } %>